.home {
  font-family: 'Rock Salt', cursive;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #4b3434;
  color: #cb4014;
  height: 100vh;
}
.enter {
  background-color: #4b3434;
  color: #cb4014;
  text-decoration: none;
  font-size: 14px;
}
@media screen and (max-width: 450px) {
  .home {
    width: auto;
    font-size: 32px;
  }
}
